.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
tsconfig.json
**/*.map
**/*.ts
.github/**
out/test/**
test/**
*.vsix
.yarnrc
webpack.config.js
*.tgz
.editorconfig
.eslintrc.json
.eslintignore
.yarnclean
